<div class="row">
  <% @groups.each do |item| %>
      <div class="col-md-4">
          <%= item.name %>
      </div>
      <div class="col-md-8 shifted">
          <%= link_to 'Удалить', group_path(item.id), method: :delete, class: 'btn btn-xs btn-danger' %>
      </div>
      <br />
  <% end %>
</div>