<div class="row">
    <% @users.each do |item| %>
      <div class="col-md-2">
          <%= item.email %>
      </div>
      <div class="col-md-6">
        <%= item.name %>
      </div>
      <div class="col-md-4 shifted">
         <%= link_to "#{item.group.name}", edit_user_path(item.id) %>
      </div>
  <% end %>
</div>


